<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <div style="padding-bottom: 20px;">
      <div style="padding-bottom: 6px;" class="red">NÃO FOI POSSÍVEL CRIAR O USUÁRIO!</div>
      <% @user.errors.each do |error| %>
        <div style="padding-bottom: 2px;"><b><%= error.message %></b></div>
      <% end %>      
    </div>
  <% end %>

  <div style="padding-bottom: 10px;">
    <%= form.label :email, "E-MAIL", style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :name, "NOME", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="form_spacing"></div>

  <div>
    <%= form.submit "CRIAR USUÁRIO" %>
    <%= link_to "CANCELAR", users_path %>
  </div>
<% end %>