<div><b>ATUALIZAÇÃO DE SENHA PARA O USUÁRIO <i><%= @user.email %></i> (<%= @user.name %>)</b></div>

<div class="form_spacing"></div>

<%= form_with url: "/update_password", method: :post do |form| %>
  <%= form.label :query, "Escolha uma nova senha" %>
	<%= form.password_field :password, autofocus: true %>
  <%= form.hidden_field :reset_password_token, value: params[:reset_password_token] %>  
  <%= form.submit "Enviar" %>
<% end %>