<!DOCTYPE html>
<html>
  <head>
    <title>Nova Fraternidade Luiz Sérgio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="message">
      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div id="user">
        <table style="width: 100%;">
          <tr>
            <td style="text-align: right;"><%= current_user.name %></td>
            <td style="width: 100px; text-align: right;"><%= button_to "SAIR", destroy_user_session_path, method: :delete %></td>
          </tr>
        </table>
      </div>      
    <% end %>
    <div id="yield"><%= yield %></div>
  </body>
</html>
